#Ignore Most Local Maven Caches
/.m2/settings.xml
/.m2/repository/*
!/.m2/repository/.gitkeep

/target/
/.settings/
/.classpath
/.project
/.vscode
/.dbeaver
/application.yml
/bin/
**/*.jks
**/*.p12
**/*.crt
**/*.csr
**/*.chain
**/*.key
/run_app.sh
