@keyframes spinner {
	to {transform: rotate(360deg);}
}
 
.spinner:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	border-radius: 50%;
	border: 2px solid transparent;
	border-top-color: #07d;
	border-bottom-color: #07d;
	animation: spinner .8s ease infinite;
}

.spinner-container {
	position: relative;
	margin-top: 15px;
}

.mlr-container {
	background-color:#fff4db;
}

.mlr-content {
	margin-right: 15px;
	padding-top: 10px;
}

.mlr-action {
	display: inline-block;
	margin-left: 15px;
	padding-right: 18px;
	vertical-align:top;
	margin-bottom: 10px;
}

#mlr-ddot {
	border-right: 1px solid lightgrey;
}

.mlr-action-header {
	font-size: 22px;
	margin-bottom: 15px;
	margin-top: 5px;
}

.mlr-response {
	margin-left: 15px;
	border-top: 1px solid lightgrey;
	padding-bottom: 12px;
}

.mlr-response-text {
	margin-left: 1px;
	max-height: 640px;
	word-wrap: break-word;
	overflow-y: scroll;
}

#exportForm label {
	width: 35%;
}

.mlr-button-input {
	margin-top: 15px;
}

.export-buttons {
	margin-top: 10px;
}

#export-header {
	margin-bottom: 10px;
}